﻿@{
    ViewData["Title"] = "TIẾP NHẬN KHÁM BỆNH";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Model */
        .modal-full {
            min-width: 90%;
        }

            .modal-full .modal-content {
                min-height: 100vh;
            }

        #ketqua, #ketqua2, #ketqua3 {
            margin: 0 4vh 0 4vh;
        }

        .selectedOption {
            height: 34px;
            display: none;
        }

        .form-control {
            border-radius: 0px;
            height: 30px;
            padding: 0px;
        }

        .combobox {
            border-radius: 0px;
        }

        .btn {
            color: #000;
            opacity: 0.7;
            border-color: #CCC;
        }

        .btn1 {
            height: 4.7vh;
            width: 28vh;
            border-radius: 1vh;
            /* border-color:blue;*/
        }

        /* Style Combobox*/
        .dropbtn {
            font-size: 16px;
            border: 1px solid #CCC;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

            .dropdown-content li {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown li:hover {
            background-color: #ddd;
            cursor: pointer
        }

        .show {
            display: block;
        }

        .tableFixHead, .tableFixHead2, .tableFixHead3 {
            overflow-y: auto;
            height: 50vh;
        }

            .tableFixHead thead th {
                position: sticky;
                top: 0;
            }

            .tableFixHead2 thead th {
                position: sticky;
                top: 0;
            }

            .tableFixHead3 thead th {
                position: sticky;
                top: 0;
            }
        /* Just common table stuff. Really. */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px 16px;
        }

        th {
            background: #eee;
            font-weight: 100;
        }

        table.table-hover tbody tr:hover {
            background: rgba(59, 153, 252, .7)
        }

        #fillname, #fillname2, #fillname3 {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
            background-position: right .7em top 50%, 0 0;
            /* icon size, then gradient */
            background-size: .65em auto, 100%;
        }
        /*dấu băt buộc*/

        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }

        label {
            /*font-size: 12px !important;*/
            font: 12px Helvetica, Arial, Tahoma, 'Droid Sans', 'Segoe UI', Geneva, sans-serif;
        }

        button {
            font-size: 13px !important;
            margin-right: 10px;
        }

        h6 {
            font-size: 14px !important;
            color: #007bff !important;
            font-weight: 700;
        }

        h5 {
            font-size: 11px !important;
            color: #007bff !important;
            font-weight: 500;
        }

        table {
            font: 12px Helvetica, Arial, Tahoma, 'Droid Sans', 'Segoe UI', Geneva, sans-serif;
        }

        .row {
            height: 60px;
        }

        hr {
            margin-bottom: 10px;
            margin-top: 0px;
        }

        .bg-primary-hr {
            background-color: #007bff !important;
            opacity: 0.4;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #007bff !important;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
            opacity: 1;
        }
        .nav-tabs .nav-link{
            color: #000;
            opacity: 0.7;
        }
    </style>
}
<h6>@ViewData["Title"]</h6>
<hr class="bg-primary-hr" />
<h5>THÔNG TIN HÀNH CHÍNH</h5>

@model TEKMEDI_HIS.Models.PatientResource
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-6">
            <div class="form-row">
                <div class="form-group required col">
                    <label class="control-label">Mã bệnh nhân</label>
                    <input id="id_bn" class="form-control" name="" placeholder="" required="required" type="text" />
                </div>
                <div class="form-group required col">
                    <label class="control-label">Tên bệnh nhân</label>
                    <input id="ten_bn" class="form-control" name="" placeholder="" required="required" type="text" />
                </div>

            </div>
        </div>

        <div class="col-6">
            <div class="form-row">
                <div class="col" style="width: 30px">
                    <label>Giới tính</label>
                    <select asp-for="Gender" class="custom-select custom-select-sm combobox">
                        <option value="Male">Nam</option>
                        <option value="Female">Nữ</option>
                        <option value="Other">Khác</option>
                        <option value="Unknown">Không xác định</option>
                    </select>
                </div>
                <div class="col">
                    <label>Ngày Sinh</label>
                    <input asp-for="birthDay" type="date" class="form-control" id="birth" />
                </div>
                <div class="form-group required col">
                    <label>Quốc tịch</label>
                    <select asp-for="Language" class="custom-select custom-select-sm combobox">
                        <option value="VI">Vietnamese</option>
                        <option value="AF">Afrikaans</option>
                        <option value="SQ">Albanian</option>
                        <option value="AR">Arabic</option>
                        <option value="HY">Armenian</option>
                        <option value="EU">Basque</option>
                        <option value="BN">Bengali</option>
                        <option value="BG">Bulgarian</option>
                        <option value="CA">Catalan</option>
                        <option value="KM">Cambodian</option>
                        <option value="ZH">Chinese (Mandarin)</option>
                        <option value="HR">Croatian</option>
                        <option value="CS">Czech</option>
                        <option value="DA">Danish</option>
                        <option value="NL">Dutch</option>
                        <option value="EN">English</option>
                        <option value="ET">Estonian</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finnish</option>
                        <option value="FR">French</option>
                        <option value="KA">Georgian</option>
                        <option value="DE">German</option>
                        <option value="EL">Greek</option>
                        <option value="GU">Gujarati</option>
                        <option value="HE">Hebrew</option>
                        <option value="HI">Hindi</option>
                        <option value="HU">Hungarian</option>
                        <option value="IS">Icelandic</option>
                        <option value="ID">Indonesian</option>
                        <option value="GA">Irish</option>
                        <option value="IT">Italian</option>
                        <option value="JA">Japanese</option>
                        <option value="JW">Javanese</option>
                        <option value="KO">Korean</option>
                        <option value="LA">Latin</option>
                        <option value="LV">Latvian</option>
                        <option value="LT">Lithuanian</option>
                        <option value="MK">Macedonian</option>
                        <option value="MS">Malay</option>
                        <option value="ML">Malayalam</option>
                        <option value="MT">Maltese</option>
                        <option value="MI">Maori</option>
                        <option value="MR">Marathi</option>
                        <option value="MN">Mongolian</option>
                        <option value="NE">Nepali</option>
                        <option value="NO">Norwegian</option>
                        <option value="FA">Persian</option>
                        <option value="PL">Polish</option>
                        <option value="PT">Portuguese</option>
                        <option value="PA">Punjabi</option>
                        <option value="QU">Quechua</option>
                        <option value="RO">Romanian</option>
                        <option value="RU">Russian</option>
                        <option value="SM">Samoan</option>
                        <option value="SR">Serbian</option>
                        <option value="SK">Slovak</option>
                        <option value="SL">Slovenian</option>
                        <option value="ES">Spanish</option>
                        <option value="SW">Swahili</option>
                        <option value="SV">Swedish </option>
                        <option value="TA">Tamil</option>
                        <option value="TT">Tatar</option>
                        <option value="TE">Telugu</option>
                        <option value="TH">Thai</option>
                        <option value="BO">Tibetan</option>
                        <option value="TO">Tonga</option>
                        <option value="TR">Turkish</option>
                        <option value="UK">Ukrainian</option>
                        <option value="UR">Urdu</option>
                        <option value="UZ">Uzbek</option>
                        <option value="CY">Welsh</option>
                        <option value="XH">Xhosa</option>
                    </select>
                </div>

                <div class="col">
                    <label class="control-label">Dân tộc</label>
                    <select asp-for="Language" class="custom-select custom-select-sm combobox">
                        <option value="VI">Kinh</option>
                        <option value="AF">Tôn giáo</option>
                        <option value="SQ">Không</option>
                       
                    </select>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-row">
                <div class="form-group required col">
                    <label class="control-label">CMND/Số điện thoại</label>
                    <input type="text" class="form-control" id="dt">
                </div>
                <div class="form-group required col">
                    <label class="control-label">Địa chỉ</label>
                    <input id="diachi" class="form-control" name="" placeholder="" required="required" type="text" />
                </div>


            </div>

        </div>
        <div class="col-6">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label">Tỉnh/Thành phố</label>
                    <input type="text" class="form-control" id="dt">
                </div>
                <div class="form-group col">
                    <label class="control-label">Quận/Huyện</label>
                    <input id="diachi" class="form-control" name="" placeholder="" required="required" type="text" />
                </div>

                <div class="form-group col">
                    <label class="control-label">Phường/Xã</label>
                    <input id="diachi" class="form-control" name="" placeholder="" required="required" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">

        <div class="col-6">
            <div class="form-row">
                <div class="col">
                    <label for="thannhan">Thân nhân</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <label for="sdtthannhan">Số điện thoại</label>
                    <input type="text" class="form-control">
                </div>


            </div>
        </div>
        <div class="col-6">
            <div class="form-row">

                <div class="col">
                    <label for="dcthannhan">Địa chỉ thân nhân</label>
                    <input type="text" class="form-control">
                </div>

            </div>
        </div>
    </div>
    <hr class="bg-primary-hr" />
    <h5>THÔNG TIN KHÁM CHỮA BỆNH</h5>
    <div class="row">
        <div class="col-8">
            <div class="form-row">
                <div class="col-2">
                    <label>Ngày tiếp nhận</label>
                    <input type="text" class="form-control" value="@DateTime.Now.ToString("HH:mm dd/MM/yyyy")" />
                </div>
                <div class="col-2">
                    <label class="control-label">Số thứ tự</label>
                    <input id="stt" class="form-control" name="" placeholder="" required="required" type="text" />
                </div>
                <div class="form-group required col-5">
                    <label class="control-label">Mã tiếp nhận</label>
                    <input id="matn" class="form-control" name="" placeholder="" required="required" type="text" />
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-row">
                <div class="col-2">
                    <label>Q.Lợi/Thẻ BHYT</label>
                    <select class="custom-select custom-select-sm combobox">
                        <option value="thuphi">Thu Phí</option>
                        <option value="bhytdn">Thẻ BHYT</option>
                    </select>
                </div>
                <div class="col-3">
                    <label>Thẻ BHYT</label>
                    <input type="text" class="form-control" readonly />
                </div>
                <div class="col-2">
                    <label>Mã ĐK KCBBD</label>
                    <input type="text" class="form-control" readonly />
                </div>
                <div class="col">
                    <label>Nơi ĐK KCBBD</label>
                    <input type="text" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-row">

                <div class="col">
                    <label>Giá trị thẻ từ</label>
                    <input asp-for="birthDay" type="date" class="form-control" id="birth" readonly />
                </div>
                <div class="col">
                    <label>Giá trị thẻ đến</label>
                    <input asp-for="birthDay" type="date" class="form-control" id="birth" readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="form-row">
                <div class="col-2">
                    <label> Tuyến </label>
                    <select class="custom-select custom-select-sm combobox">
                        <option value="DT">Đúng tuyến</option>
                        <option value="CC">Cấp cứu</option>
                        <option value="TT">Trái tuyến</option>
                        <option value="ThongT">Thông tuyến</option>
                    </select>
                </div>

                <div class="col-3">
                    <label> Loại </label>
                    <select class="custom-select custom-select-sm combobox">
                        <option value="tiepnhanmoi">Tiếp nhận mới</option>
                        <option value="taikham">Tái khám</option>
                    </select>

                </div>
                <div class="col-2">
                    <label>Mức hưởng (%)</label>
                    <input type="text" class="form-control" readonly />
                </div>
                <div class="form-check form-check-inline col-2" style="padding-top: 30px">
                    <label class="form-check-label" for="inlineCheckbox2" style="margin-right: 10px">5 năm 6 tháng</label>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                </div>
                <div class="col">
                    <label>Tái khám</label>
                    <input asp-for="birthDay" type="date" class="form-control" id="birth" readonly />
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="form-row">

                <div class="form-check form-check-inline col-3" style="padding-top: 30px">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Tái khám</label>
                </div>
                <div class="col-3">
                    <label>Số lần tái khám</label>
                    <input type="number" class="form-control" min="1" max="5" readonly />
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-8">
            <div class="form-row">
                <div class="col">
                    <label>Phòng Khám</label>
                    <select class="custom-select custom-select-sm combobox">
                        <option value="kn">Nội tổng quát - Phòng 1</option>
                        <option value="kng">Ngoại khoa - Phòng 1</option>
                        <option value="kng">Phòng cấp cứu</option>
                    </select>
                </div>

                <div class="col">
                    <label>Dịch vụ khám</label>
                    <select class="custom-select custom-select-sm combobox">
                        <option value="56">Khám nội</option>
                        <option value="60">Khám tiêu hóa</option>
                        <option value="117">Khám mắt</option>
                        <option value="125">Khám tai mũi họng</option>
                    </select>

                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="form-row">

                <div class="form-check form-check-inline col-3" style="padding-top: 40px">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Mua sổ KB</label>
                </div>
                <div class="form-check form-check-inline col-3" style="padding-top: 40px">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">BN được ưu tiên</label>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div style="padding-bottom: 10px; display: flex; justify-content: center">
        <button class="btn btn-outline-primary" type="submit"><i class="far fa-address-card mr-2"></i>Nhập thẻ BHYT</button>
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-list-ol mr-2"></i>in STT Khám</button>
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-mouse-pointer mr-2"></i>Chỉ định Dịch vụ</button>
        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-folder-plus mr-2"></i>Nhập mới</button>
        <button class="btn btn-outline-primary" type="submit"><i class="far fa-save mr-2"></i>Lưu</button>
    </div>
    <hr class="bg-primary-hr" />

    <div style="width: 60%; float: left;">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="font: 12px Helvetica, Arial, Tahoma, 'Droid Sans', 'Segoe UI', Geneva, sans-serif;">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Danh sách đã tiếp nhận</a>
            </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <table class="table table-sm, table-hover, table-bordered" style="overflow: auto; width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Ma TN</th>
                            <th scope="col">Ngày khám</th>
                            <th scope="col">Phòng khám</th>
                            <th scope="col">Dịch vụ</th>
                            <th scope="col">Mã thẻ BHYT</th>
                            <th scope="col">Nhân Viên</th>
                            <th scope="col">BS Khám</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>TN001</td>
                            <td>11/12/2020</td>
                            <td>Nội tổng quát - 1</td>
                            <td>Khám nội</td>
                            <td></td>
                            <td>Yta Tú Trinh</td>
                            <td>Bs Tú</td>
                            <td>Đang chờ khám</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>TN002</td>
                            <td>11/12/2020</td>
                            <td>Nội tổng quát - 2</td>
                            <td>Khám nội</td>
                            <td></td>
                            <td>Yta Tú Trinh</td>
                            <td>Bs Tùng</td>
                            <td>Đang khám</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>TN003</td>
                            <td>11/12/2020</td>
                            <td>Nội tổng quát - 3</td>
                            <td>Khám nội</td>
                            <td></td>
                            <td>Yta Tú Trinh</td>
                            <td>Bs Hùng</td>
                            <td>Đã khám</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div style="width: 1%; float: left;">
        <p></p>
    </div>
        <div style="float: left; width: 39%">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist" style="font: 12px Helvetica, Arial, Tahoma, 'Droid Sans', 'Segoe UI', Geneva, sans-serif;">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Thống kê theo phòng khám</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Thống kê theo khu khám</a>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table table-sm, table-hover, table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Phòng Khám</th>
                                <th scope="col">Tổng Số</th>
                                <th scope="col">BHYT</th>
                                <th scope="col">Ưu tiên</th>
                                <th scope="col">Đã khám</th>
                                <th scope="col">Chưa khám</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Nội tổng quát</td>
                                <td>15</td>
                                <td>5</td>
                                <td>1</td>
                                <td>12</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Ngoại khoa</td>
                                <td>5</td>
                                <td>6</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Phòng cấp cứu </td>
                                <td>12</td>
                                <td>1</td>
                                <td>6</td>
                                <td>5</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table table-sm, table-hover, table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Khu khám</th>
                                <th scope="col">Tổng Số</th>
                                <th scope="col">BHYT</th>
                                <th scope="col">Ưu tiên</th>
                                <th scope="col">Đã khám</th>
                                <th scope="col">Chưa khám</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Khu A</td>
                                <td>15</td>
                                <td>5</td>
                                <td>1</td>
                                <td>12</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Khu B</td>
                                <td>5</td>
                                <td>6</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Khu C </td>
                                <td>12</td>
                                <td>1</td>
                                <td>6</td>
                                <td>5</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div style="clear: both"></div>
        <br />


        <div class="form-row">
            <div>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-volume-up mr-2"></i>Gọi</button>
            </div>
            <div class="col">
                <input type="text" id="stt" class="form-control" placeholder=" Nhập Số Thứ Tự ...">
            </div>
            <div class="col">

                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-undo mr-2"></i>Gọi lại</button>
                <button class="btn btn-outline-primary" type="submit"><i class="far fa-chart-bar mr-2"></i>Thống kê KB</button>
            </div>
        </div>
        <br />

        //btn Gọi lại_popup
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-primary font-weight-bold" id="exampleModalLongTitle">Gọi Số Thứ Tự</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="">
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Số thứ tự</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="stt" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Ngày tạo</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" value="@DateTime.Now" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Họ và tên</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn1 btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn1 btn-primary">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-full" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-primary">Thông tin bệnh nhân</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="result">
                        <div class="row">
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Họ và tên</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm" id="patientName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Ngày sinh</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control form-control-sm" id="patientBirth" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Dân tộc</label>
                                        <div class="col-sm-10">
                                            <select class="form-control form-control-sm" id="patientEthnic">
                                                <option>Kinh</option>
                                                <option>Khác</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Quốc tịch</label>
                                        <div class="col-sm-10">
                                            <select class="form-control form-control-sm" id="patientNationality">
                                                <option>Việt Nam</option>
                                                <option>Khác</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Mã bệnh nhân</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="patientID">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Giới tính</label>
                                        <div class="col-sm-9">
                                            <select class="form-control form-control-sm" id="patientGender">
                                                <option>Nam</option>
                                                <option>Nữ</option>
                                                <option>Khác</option>
                                                <option>Không xác định</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Nghề nghiệp</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm" id="patientJob">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Quốc gia</label>
                                        <div class="col-sm-9">
                                            <select class="form-control form-control-sm" id="patientCountry">
                                                <option>Việt Nam</option>
                                                <option>Khác</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Số nhà/Đường</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm" id="addressLine" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-1 col-form-label col-form-label-sm">Tỉnh/huyện/xã</label>
                            <div class="col-sm-11">
                                <div class="input-group input-group-sm mb-3">

                                    <div>
                                        <div class="dropdown">
                                            @Html.TextBox("ChanDoanICD", (string)ViewBag.ChanDoanICD, new { @id = "fillname", @class = "form-control dropbtn", @onclick = "myFunction()", @style = "width:220px;", @readonly = "readonly", @placeholder = "  Tên tỉnh/thành phố" })
                                            <div id="myDropdown" class="dropdown-content" style="width: 220px;">
                                                <div class="tableFixHead">
                                                    <table id="sourcetable" class="table table-hover border ">
                                                        <thead>
                                                            <tr><th>Mã</th><th>Tên</th></tr>
                                                        </thead>
                                                        <tbody id="ketqua"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br style="clear:both"><br>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div>
                                        <div class="dropdown">
                                            @Html.TextBox("ChanDoanICD2", (string)ViewBag.ChanDoanICD, new { @id = "fillname2", @class = "form-control dropbtn", @onclick = "myFunction2()", @style = "width:220px;", @readonly = "readonly", @placeholder = "  Tên quận/huyện" })
                                            <div id="myDropdown2" class="dropdown-content" style="width: 220px;">
                                                <div class="tableFixHead2">
                                                    <table id="sourcetable2" class="table table-hover border ">
                                                        <thead>
                                                            <tr><th>Mã</th><th>Tên</th></tr>
                                                        </thead>
                                                        <tbody id="ketqua2"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br style="clear:both"><br>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div>
                                        <div class="dropdown">
                                            @Html.TextBox("ChanDoanICD3", (string)ViewBag.ChanDoanICD, new { @id = "fillname3", @class = "form-control dropbtn", @onclick = "myFunction3()", @style = "width:220px;", @readonly = "readonly", @placeholder = "  Tên phường/xã" })
                                            <div id="myDropdown3" class="dropdown-content" style="width: 220px;">
                                                <div class="tableFixHead3">
                                                    <table id="sourcetable3" class="table table-hover border ">
                                                        <thead>
                                                            <tr><th>Mã</th><th>Tên</th></tr>
                                                        </thead>
                                                        <tbody id="ketqua3"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Địa chỉ</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm" id="patientAddress">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <form>

                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control form-control-sm" id="patientLink">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Đơn vị công tác</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Điện thoại</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Mã số thuế</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Địa chỉ công tác</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">CMND</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ĐT người thân</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md">
                                <form>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Người thân</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Quan hệ</label>
                                        <div class="col-sm-9">
                                            <select class="form-control form-control-sm">
                                                <option>Cha</option>
                                                <option>Mẹ</option>
                                                <option>Người yêu cũ</option>
                                                <option>Chủ nợ</option>
                                                <option>Khác</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Địa chỉ người thân</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Ghi chú</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">In tem</button>
                        <button id="btnSave" type="button" class="btn" data-dismiss="modal">Lưu</button>
                        <button type="submit" class="btn" data-dismiss="modal">Xoá</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    </div>
                </div>
            </div>
        </div>
        }
        <script>

            /*Hàm của combobox*/
            function myFunction() {

                document.getElementById("myDropdown").classList.toggle("show");
                $(".tableFixHead").css("display", "block");
                $('#txtfilter').css('display', 'none');
                $('#btntimkiem').css('display', 'none');
            }
            function renderHTML() {
                var data = [{ "Type": 1, "SolrID": "/tien-giang", "ID": 1, "Title": "Tiền Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11217 }, { "Type": 1, "SolrID": "/hung-yen", "ID": 2, "Title": "Hưng Yên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 12752 }, { "Type": 1, "SolrID": "/ha-noi", "ID": 3, "Title": "Hà Nội", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 296403 }, { "Type": 1, "SolrID": "/tp-ho-chi-minh", "ID": 4, "Title": "TP Hồ Chí Minh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 488059 }, { "Type": 1, "SolrID": "/ca-mau", "ID": 5, "Title": "Cà Mau", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11096 }, { "Type": 1, "SolrID": "/dac-lac", "ID": 6, "Title": "Đắc Lắc", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11120 }, { "Type": 1, "SolrID": "/nam-dinh", "ID": 7, "Title": "Nam Định", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 12443 }, { "Type": 1, "SolrID": "/quang-ninh", "ID": 8, "Title": "Quảng Ninh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 20450 }, { "Type": 1, "SolrID": "/dak-nong", "ID": 9, "Title": "Đắk Nông", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5647 }, { "Type": 1, "SolrID": "/da-nang", "ID": 10, "Title": "Đà Nẵng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 42732 }, { "Type": 1, "SolrID": "/hai-duong", "ID": 11, "Title": "Hải Dương", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 17740 }, { "Type": 1, "SolrID": "/long-an", "ID": 12, "Title": "Long An", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 19573 }, { "Type": 1, "SolrID": "/ben-tre", "ID": 13, "Title": "Bến Tre", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 8563 }, { "Type": 1, "SolrID": "/dong-thap", "ID": 14, "Title": "Đồng Tháp", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10815 }, { "Type": 1, "SolrID": "/vinh-long", "ID": 15, "Title": "Vĩnh Long", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 7466 }, { "Type": 1, "SolrID": "/kien-giang", "ID": 16, "Title": "Kiên Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 18124 }, { "Type": 1, "SolrID": "/tra-vinh", "ID": 17, "Title": "Trà Vinh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5922 }, { "Type": 1, "SolrID": "/soc-trang", "ID": 18, "Title": "Sóc Trăng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6701 }, { "Type": 1, "SolrID": "/bac-ninh", "ID": 19, "Title": "Bắc Ninh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 17900 }, { "Type": 1, "SolrID": "/thanh-hoa", "ID": 20, "Title": "Thanh Hoá", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 26587 }, { "Type": 1, "SolrID": "/vung-tau", "ID": 21, "Title": "Vũng Tàu", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 18503 }, { "Type": 1, "SolrID": "/dong-nai", "ID": 22, "Title": "Đồng Nai", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 44390 }, { "Type": 1, "SolrID": "/binh-duong", "ID": 23, "Title": "Bình Dương", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 47612 }, { "Type": 1, "SolrID": "/thai-nguyen", "ID": 24, "Title": "Thái Nguyên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10020 }, { "Type": 1, "SolrID": "/thai-binh", "ID": 25, "Title": "Thái Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11285 }, { "Type": 1, "SolrID": "/can-tho", "ID": 26, "Title": "Cần Thơ", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 20565 }, { "Type": 1, "SolrID": "/nghe-an", "ID": 27, "Title": "Nghệ An", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 23976 }, { "Type": 1, "SolrID": "/hue", "ID": 28, "Title": "Huế", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 9887 }, { "Type": 1, "SolrID": "/binh-phuoc", "ID": 29, "Title": "Bình Phước", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11678 }, { "Type": 1, "SolrID": "/quang-nam", "ID": 30, "Title": "Quảng Nam", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 14726 }, { "Type": 1, "SolrID": "/quang-ngai", "ID": 31, "Title": "Quảng Ngãi", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10872 }, { "Type": 1, "SolrID": "/ninh-thuan", "ID": 32, "Title": "Ninh Thuận", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5318 }, { "Type": 1, "SolrID": "/lao-cai", "ID": 33, "Title": "Lào Cai", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6964 }, { "Type": 1, "SolrID": "/hai-phong", "ID": 34, "Title": "Hải Phòng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 46080 }, { "Type": 1, "SolrID": "/an-giang", "ID": 35, "Title": "An Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 13445 }, { "Type": 1, "SolrID": "/phu-tho", "ID": 36, "Title": "Phú Thọ", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10151 }, { "Type": 1, "SolrID": "/tay-ninh", "ID": 37, "Title": "Tây Ninh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11680 }, { "Type": 1, "SolrID": "/khanh-hoa", "ID": 38, "Title": "Khánh Hòa", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 23474 }, { "Type": 1, "SolrID": "/phu-yen", "ID": 39, "Title": "Phú Yên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6849 }, { "Type": 1, "SolrID": "/hoa-binh", "ID": 40, "Title": "Hòa Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6562 }, { "Type": 1, "SolrID": "/tuyen-quang", "ID": 41, "Title": "Tuyên Quang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3854 }, { "Type": 1, "SolrID": "/lai-chau", "ID": 42, "Title": "Lai Châu", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3186 }, { "Type": 1, "SolrID": "/hau-giang", "ID": 43, "Title": "Hậu Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5856 }, { "Type": 1, "SolrID": "/lam-dong", "ID": 44, "Title": "Lâm Đồng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 16104 }, { "Type": 1, "SolrID": "/lang-son", "ID": 45, "Title": "Lạng Sơn", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5982 }, { "Type": 1, "SolrID": "/ha-nam", "ID": 46, "Title": "Hà Nam", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 7541 }, { "Type": 1, "SolrID": "/bac-can", "ID": 47, "Title": "Bắc Cạn", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 2326 }, { "Type": 1, "SolrID": "/binh-dinh", "ID": 48, "Title": "Bình Định", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 14609 }, { "Type": 1, "SolrID": "/cao-bang", "ID": 49, "Title": "Cao Bằng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3670 }, { "Type": 1, "SolrID": "/son-la", "ID": 50, "Title": "Sơn La", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5564 }, { "Type": 1, "SolrID": "/quang-binh", "ID": 51, "Title": "Quảng Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 8805 }, { "Type": 1, "SolrID": "/quang-tri", "ID": 52, "Title": "Quảng Trị", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 7245 }, { "Type": 1, "SolrID": "/gia-lai", "ID": 53, "Title": "Gia Lai", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10231 }, { "Type": 1, "SolrID": "/bac-giang", "ID": 54, "Title": "Bắc Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 12535 }, { "Type": 1, "SolrID": "/ha-tinh", "ID": 55, "Title": "Hà Tĩnh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11134 }, { "Type": 1, "SolrID": "/ninh-binh", "ID": 56, "Title": "Ninh Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 8374 }, { "Type": 1, "SolrID": "/binh-thuan", "ID": 57, "Title": "Bình Thuận", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11887 }, { "Type": 1, "SolrID": "/kon-tum", "ID": 58, "Title": "Kon Tum", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 4975 }, { "Type": 1, "SolrID": "/vinh-phuc", "ID": 59, "Title": "Vĩnh Phúc", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 13642 }, { "Type": 1, "SolrID": "/bac-lieu", "ID": 60, "Title": "Bạc Liêu", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5726 }, { "Type": 1, "SolrID": "/yen-bai", "ID": 61, "Title": "Yên Bái", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5043 }, { "Type": 1, "SolrID": "/dien-bien", "ID": 62, "Title": "Điện Biên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3247 }, { "Type": 1, "SolrID": "/ha-giang", "ID": 63, "Title": "Hà Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 4662 }, { "Type": 1, "SolrID": "/chua-ro", "ID": 64, "Title": "Chưa rõ", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 61848 }];
                //var URL = 'https://thongtindoanhnghiep.co/api/city';
                k = 0;
                $('#ketqua').html("");
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {

                        var parent = '<tr><td>' + data[i].ID + '</td><td>' + data[i].Title + '</td></tr>';
                        $('#ketqua').append(parent);
                    }

                }

                var pickedup;
                $(document).ready(function () {
                    $("#sourcetable tbody tr").on("click", function (event) {

                        // get back to where it was before if it was selected :
                        if (pickedup != null) {
                        }
                        $("#fillname2").val("  Tên quận/huyện");
                        $("#fillname3").val("  Tên phường/xã");
                        $("#fillname").val(' ' + $(this).find("td").eq(1).html() + ' (' + $(this).find("td").eq(0).html() + ')');
                        var id = $(this).find("td").eq(0).html();

                        $(".tableFixHead").css("display", "none");

                        pickedup = $(this);

                        var URL = 'https://cors-anywhere.herokuapp.com/https://thongtindoanhnghiep.co/api/city/' + id + '/district';
                        k = 0;
                        $('#ketqua2').html("");

                        $.ajax({
                            headers: {
                                'Access-Control-Allow-Origin': '*'
                            },
                            type: 'GET',
                            crossDomain: true,
                            dataType: 'json',
                            url: URL,
                            success: function (response) {
                                console.log('success');
                                if (response.length > 0) {
                                    k = k + 1;
                                }

                                if (response.length > 0) {
                                    for (var i = 0; i < response.length; i++) {

                                        var parent = '<tr><td>' + response[i].ID + '</td><td>' + response[i].Title + '</td></tr>';

                                        $('#ketqua2').append(parent);

                                        $(document).ready(function () {
                                            $("#sourcetable2 tbody tr").on("click", function (event) {

                                                // get back to where it was before if it was selected :
                                                if (pickedup != null) {
                                                }
                                                $("#fillname3").val("  Tên phường/xã");
                                                $("#fillname2").val(' ' + $(this).find("td").eq(1).html() + ' (' + $(this).find("td").eq(0).html() + ')');
                                                var id2 = $(this).find("td").eq(0).html();
                                                $(".tableFixHead2").css("display", "none");
                                                pickedup = $(this);
                                                var URL = 'https://cors-anywhere.herokuapp.com/https://thongtindoanhnghiep.co/api/district/' + id2 + '/ward'

                                                k = 0;
                                                $('#ketqua3').html("");
                                                $.ajax({
                                                    headers: {
                                                        'Access-Control-Allow-Origin': '*'
                                                    },
                                                    type: 'GET',
                                                    crossDomain: true,
                                                    dataType: 'json',
                                                    url: URL,
                                                    success: function (response) {
                                                        console.log('success');
                                                        if (response.length > 0) {
                                                            k = k + 1;
                                                        }

                                                        if (response.length > 0) {

                                                            for (var i = 0; i < response.length; i++) {

                                                                var parent = '<tr><td>' + response[i].ID + '</td><td>' + response[i].Title + '</td></tr>';

                                                                $('#ketqua3').append(parent);

                                                                $(document).ready(function () {
                                                                    $("#sourcetable3 tbody tr").on("click", function (event) {

                                                                        // get back to where it was before if it was selected :
                                                                        if (pickedup != null) {
                                                                        }

                                                                        $("#fillname3").val(' ' + $(this).find("td").eq(1).html() + ' (' + $(this).find("td").eq(0).html() + ')');
                                                                        var id2 = $(this).find("td").eq(0).html();
                                                                        $(".tableFixHead3").css("display", "none");
                                                                        pickedup = $(this);

                                                                    });
                                                                });
                                                            }
                                                        }

                                                    }
                                                });
                                            });
                                        });
                                    }
                                }

                            }
                        });
                    });
                });

            }
            function myFunction2() {
                document.getElementById("myDropdown2").classList.toggle("show");
                $(".tableFixHead2").css("display", "block");
            }
            function myFunction3() {
                document.getElementById("myDropdown3").classList.toggle("show");
                $(".tableFixHead3").css("display", "block");
            }
            window.onload = function () {
                renderHTML();
            }

            $("#btnSave").click(function () {
                $("#mabn").val($("#patientID").val());

                $("#tenbn").val($("#patientName").val());
                var date = new Date($('#patientBirth').val());
                day = date.getDate();
                month = date.getMonth() + 1;
                year = date.getFullYear();
                $("#birth").val(date);
            });
        </script>
