﻿
@{
    ViewData["Title"] = "Danh sách bệnh nhân";
}
<style>
    .modal-full {
        min-width: 90%;
    }
        .modal-full .modal-content {
            min-height: 100vh;
        }
    .dropbtn {
        font-size: 16px;
        border: 1px solid #CCC;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .dropdown-content li {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown li:hover {
        background-color: #ddd;
        cursor: pointer
    }

    .show {
        display: block;
    }

    .tableFixHead, .tableFixHead2, .tableFixHead3 {
        overflow-y: auto;
        height: 50vh;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }

        .tableFixHead2 thead th {
            position: sticky;
            top: 0;
        }

        .tableFixHead3 thead th {
            position: sticky;
            top: 0;
        }
    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }

    table.table-hover tbody tr:hover {
        background: rgba(59, 153, 252, .7)
    }

    #fillname, #fillname2, #fillname3 {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
        background-position: right .7em top 50%, 0 0;
        /* icon size, then gradient */
        background-size: .65em auto, 100%;
    }
</style>
<h3 class="h3">@ViewData["Title"]</h3>
@model TEKMEDI_HIS.Models.PatientResource
@using Hl7.Fhir.Model;
@using Hl7.Fhir.Rest;



@using (Html.BeginForm())
{
    <label>Chứng minh nhân dân</label>
    @Html.TextBox("SearchString")
    <input type="reset" value="Tìm kiếm" class="btn btn-danger ml-1 mb-2" />

    <table class="table table-hover border" id="data">
        <thead class="thead bg-primary">
            <tr>
                <th>STT</th>
                <th>Số CMND</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Trạng thái</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @{
                var pan = new Patient();
                //The fhir server end point address
                string ServiceRootUrl = "https://stu3.test.pyrohealth.net/fhir";
                //Create a client to send to the server at a given endpoint.
                var FhirClient = new FhirClient(ServiceRootUrl);
                // increase timeouts since the server might be powered down
                try
                {
                    //Attempt to send the resource to the server endpoint
                    Bundle ReturnedSearchBundle = FhirClient.Search<Patient>(new string[] { "address="+"VN" });
                    int count = 1;
                    foreach (var Entry in ReturnedSearchBundle.Entry)
                    {
                        Patient p = (Patient)Entry.Resource;
                        string patientName = p.Name.First().ToString();
                        int countList = count++;
                        <tr>
                            <td class="border border-right text-center">@countList</td>
                            <td>@p.Identifier.First().Value.Trim()</td>
                            <td>@patientName.Replace(",", string.Empty)</td>
                            <td>@p.Gender.Value</td>
                            <td>@p.BirthDate</td>
                            <td>
                                @{
                                    if (p.Active == null)
                                    {
                                        <label class="text-danger">Huỷ</label>
                                    }
                                    else
                                    {
                                        <label class="text-success">Kích hoạt</label>
                                    }

                                }
                            </td>
                            <td>
                                <a href="#myModal" class="text-primary" data-toggle="modal">Chi tiết</a>

                            </td>

                            <td><a class="text-danger" href="#">Xoá</a></td>
                        </tr>

                    }

                }
                catch (FhirOperationException FhirOpExec)
                {


                }
                catch (Exception GeneralException)
                {
                }

            }
        </tbody>
    </table>

    <!-- Modal: modalQuickView -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-primary">Thông tin bệnh nhân</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="result">
                    <div class="row">
                        <div class="col-md">
                            <form>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Họ và tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Ngày sinh</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control form-control-sm"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Dân tộc</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-control-sm">
                                            <option>Kinh</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Quốc tịch</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-control-sm">
                                            <option>Việt Nam</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md">
                            <form>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Mã bệnh nhân</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Giới tính</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm">
                                            <option>Nam</option>
                                            <option>Nữ</option>
                                            <option>Khác</option>
                                            <option>Không xác định</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Nghề nghiệp</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Quốc gia</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm">
                                            <option>Việt Nam</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Số nhà/Đường</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-form-label col-form-label-sm">Tỉnh/huyện/xã</label>
                        <div class="col-sm-11">
                            <div class="input-group input-group-sm mb-3">

                                <div>
                                    <div class="dropdown">
                                        @Html.TextBox("ChanDoanICD", (string)ViewBag.ChanDoanICD, new { @id = "fillname", @class = "form-control dropbtn", @onclick = "myFunction()", @style = "width:220px;", @readonly = "readonly", @placeholder = "  Tên tỉnh/thành phố" })
                                        <div id="myDropdown" class="dropdown-content" style="width: 220px;">
                                            <div class="tableFixHead">
                                                <table id="sourcetable" class="table table-hover border ">
                                                    <thead>
                                                        <tr><th>Mã</th><th>Tên</th></tr>
                                                    </thead>
                                                    <tbody id="ketqua"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br style="clear:both"><br>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div>
                                    <div class="dropdown">
                                        @Html.TextBox("ChanDoanICD2", (string)ViewBag.ChanDoanICD, new { @id = "fillname2", @class = "form-control dropbtn", @onclick = "myFunction2()", @style = "width:220px;", @readonly = "readonly", @placeholder = "  Tên quận/huyện" })
                                        <div id="myDropdown2" class="dropdown-content" style="width: 220px;">
                                            <div class="tableFixHead2">
                                                <table id="sourcetable2" class="table table-hover border ">
                                                    <thead>
                                                        <tr><th>Mã</th><th>Tên</th></tr>
                                                    </thead>
                                                    <tbody id="ketqua2"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br style="clear:both"><br>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div>
                                    <div class="dropdown">
                                        @Html.TextBox("ChanDoanICD3", (string)ViewBag.ChanDoanICD, new { @id = "fillname3", @class = "form-control dropbtn", @onclick = "myFunction3()", @style = "width:220px;", @readonly = "readonly", @placeholder = "  Tên phường/xã" })
                                        <div id="myDropdown3" class="dropdown-content" style="width: 220px;">
                                            <div class="tableFixHead3">
                                                <table id="sourcetable3" class="table table-hover border ">
                                                    <thead>
                                                        <tr><th>Mã</th><th>Tên</th></tr>
                                                    </thead>
                                                    <tbody id="ketqua3"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Địa chỉ</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <form>

                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Đơn vị công tác</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md">
                            <form>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Điện thoại</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Mã số thuế</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Địa chỉ công tác</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <form>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">CMND</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">ĐT người thân</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md">
                            <form>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Người thân</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Quan hệ</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm">
                                            <option>Cha</option>
                                            <option>Mẹ</option>
                                            <option>Người yêu cũ</option>
                                            <option>Chủ nợ</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Địa chỉ người thân</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Ghi chú</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">In tem</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Xoá</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        $('#data').after('<div id="nav"></div>');
        var rowsShown = 20;
        var rowsTotal = $('#data tbody tr').length;
        var numPages = rowsTotal / rowsShown;
        for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
        }
        $('#data tbody tr').hide();
        $('#data tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function () {

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                css('display', 'table-row').animate({ opacity: 1 }, 300);
        });
    });

    /*Hàm của combobox*/
    function myFunction() {

        document.getElementById("myDropdown").classList.toggle("show");
        $(".tableFixHead").css("display", "block");
        $('#txtfilter').css('display', 'none');
        $('#btntimkiem').css('display', 'none');
    }
    function renderHTML() {
        var data = [{ "Type": 1, "SolrID": "/tien-giang", "ID": 1, "Title": "Tiền Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11217 }, { "Type": 1, "SolrID": "/hung-yen", "ID": 2, "Title": "Hưng Yên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 12752 }, { "Type": 1, "SolrID": "/ha-noi", "ID": 3, "Title": "Hà Nội", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 296403 }, { "Type": 1, "SolrID": "/tp-ho-chi-minh", "ID": 4, "Title": "TP Hồ Chí Minh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 488059 }, { "Type": 1, "SolrID": "/ca-mau", "ID": 5, "Title": "Cà Mau", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11096 }, { "Type": 1, "SolrID": "/dac-lac", "ID": 6, "Title": "Đắc Lắc", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11120 }, { "Type": 1, "SolrID": "/nam-dinh", "ID": 7, "Title": "Nam Định", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 12443 }, { "Type": 1, "SolrID": "/quang-ninh", "ID": 8, "Title": "Quảng Ninh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 20450 }, { "Type": 1, "SolrID": "/dak-nong", "ID": 9, "Title": "Đắk Nông", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5647 }, { "Type": 1, "SolrID": "/da-nang", "ID": 10, "Title": "Đà Nẵng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 42732 }, { "Type": 1, "SolrID": "/hai-duong", "ID": 11, "Title": "Hải Dương", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 17740 }, { "Type": 1, "SolrID": "/long-an", "ID": 12, "Title": "Long An", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 19573 }, { "Type": 1, "SolrID": "/ben-tre", "ID": 13, "Title": "Bến Tre", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 8563 }, { "Type": 1, "SolrID": "/dong-thap", "ID": 14, "Title": "Đồng Tháp", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10815 }, { "Type": 1, "SolrID": "/vinh-long", "ID": 15, "Title": "Vĩnh Long", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 7466 }, { "Type": 1, "SolrID": "/kien-giang", "ID": 16, "Title": "Kiên Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 18124 }, { "Type": 1, "SolrID": "/tra-vinh", "ID": 17, "Title": "Trà Vinh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5922 }, { "Type": 1, "SolrID": "/soc-trang", "ID": 18, "Title": "Sóc Trăng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6701 }, { "Type": 1, "SolrID": "/bac-ninh", "ID": 19, "Title": "Bắc Ninh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 17900 }, { "Type": 1, "SolrID": "/thanh-hoa", "ID": 20, "Title": "Thanh Hoá", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 26587 }, { "Type": 1, "SolrID": "/vung-tau", "ID": 21, "Title": "Vũng Tàu", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 18503 }, { "Type": 1, "SolrID": "/dong-nai", "ID": 22, "Title": "Đồng Nai", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 44390 }, { "Type": 1, "SolrID": "/binh-duong", "ID": 23, "Title": "Bình Dương", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 47612 }, { "Type": 1, "SolrID": "/thai-nguyen", "ID": 24, "Title": "Thái Nguyên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10020 }, { "Type": 1, "SolrID": "/thai-binh", "ID": 25, "Title": "Thái Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11285 }, { "Type": 1, "SolrID": "/can-tho", "ID": 26, "Title": "Cần Thơ", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 20565 }, { "Type": 1, "SolrID": "/nghe-an", "ID": 27, "Title": "Nghệ An", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 23976 }, { "Type": 1, "SolrID": "/hue", "ID": 28, "Title": "Huế", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 9887 }, { "Type": 1, "SolrID": "/binh-phuoc", "ID": 29, "Title": "Bình Phước", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11678 }, { "Type": 1, "SolrID": "/quang-nam", "ID": 30, "Title": "Quảng Nam", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 14726 }, { "Type": 1, "SolrID": "/quang-ngai", "ID": 31, "Title": "Quảng Ngãi", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10872 }, { "Type": 1, "SolrID": "/ninh-thuan", "ID": 32, "Title": "Ninh Thuận", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5318 }, { "Type": 1, "SolrID": "/lao-cai", "ID": 33, "Title": "Lào Cai", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6964 }, { "Type": 1, "SolrID": "/hai-phong", "ID": 34, "Title": "Hải Phòng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 46080 }, { "Type": 1, "SolrID": "/an-giang", "ID": 35, "Title": "An Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 13445 }, { "Type": 1, "SolrID": "/phu-tho", "ID": 36, "Title": "Phú Thọ", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10151 }, { "Type": 1, "SolrID": "/tay-ninh", "ID": 37, "Title": "Tây Ninh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11680 }, { "Type": 1, "SolrID": "/khanh-hoa", "ID": 38, "Title": "Khánh Hòa", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 23474 }, { "Type": 1, "SolrID": "/phu-yen", "ID": 39, "Title": "Phú Yên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6849 }, { "Type": 1, "SolrID": "/hoa-binh", "ID": 40, "Title": "Hòa Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 6562 }, { "Type": 1, "SolrID": "/tuyen-quang", "ID": 41, "Title": "Tuyên Quang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3854 }, { "Type": 1, "SolrID": "/lai-chau", "ID": 42, "Title": "Lai Châu", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3186 }, { "Type": 1, "SolrID": "/hau-giang", "ID": 43, "Title": "Hậu Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5856 }, { "Type": 1, "SolrID": "/lam-dong", "ID": 44, "Title": "Lâm Đồng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 16104 }, { "Type": 1, "SolrID": "/lang-son", "ID": 45, "Title": "Lạng Sơn", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5982 }, { "Type": 1, "SolrID": "/ha-nam", "ID": 46, "Title": "Hà Nam", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 7541 }, { "Type": 1, "SolrID": "/bac-can", "ID": 47, "Title": "Bắc Cạn", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 2326 }, { "Type": 1, "SolrID": "/binh-dinh", "ID": 48, "Title": "Bình Định", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 14609 }, { "Type": 1, "SolrID": "/cao-bang", "ID": 49, "Title": "Cao Bằng", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3670 }, { "Type": 1, "SolrID": "/son-la", "ID": 50, "Title": "Sơn La", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5564 }, { "Type": 1, "SolrID": "/quang-binh", "ID": 51, "Title": "Quảng Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 8805 }, { "Type": 1, "SolrID": "/quang-tri", "ID": 52, "Title": "Quảng Trị", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 7245 }, { "Type": 1, "SolrID": "/gia-lai", "ID": 53, "Title": "Gia Lai", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 10231 }, { "Type": 1, "SolrID": "/bac-giang", "ID": 54, "Title": "Bắc Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 12535 }, { "Type": 1, "SolrID": "/ha-tinh", "ID": 55, "Title": "Hà Tĩnh", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11134 }, { "Type": 1, "SolrID": "/ninh-binh", "ID": 56, "Title": "Ninh Bình", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 8374 }, { "Type": 1, "SolrID": "/binh-thuan", "ID": 57, "Title": "Bình Thuận", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 11887 }, { "Type": 1, "SolrID": "/kon-tum", "ID": 58, "Title": "Kon Tum", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 4975 }, { "Type": 1, "SolrID": "/vinh-phuc", "ID": 59, "Title": "Vĩnh Phúc", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 13642 }, { "Type": 1, "SolrID": "/bac-lieu", "ID": 60, "Title": "Bạc Liêu", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5726 }, { "Type": 1, "SolrID": "/yen-bai", "ID": 61, "Title": "Yên Bái", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 5043 }, { "Type": 1, "SolrID": "/dien-bien", "ID": 62, "Title": "Điện Biên", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 3247 }, { "Type": 1, "SolrID": "/ha-giang", "ID": 63, "Title": "Hà Giang", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 4662 }, { "Type": 1, "SolrID": "/chua-ro", "ID": 64, "Title": "Chưa rõ", "STT": 0, "Created": null, "Updated": null, "TotalDoanhNghiep": 61848 }];
        //var URL = 'https://thongtindoanhnghiep.co/api/city';
        k = 0;
        $('#ketqua').html("");
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {

                var parent = '<tr><td>' + data[i].ID + '</td><td>' + data[i].Title + '</td></tr>';
                $('#ketqua').append(parent);
            }

        }

        var pickedup;
        $(document).ready(function () {
            $("#sourcetable tbody tr").on("click", function (event) {

                // get back to where it was before if it was selected :
                if (pickedup != null) {
                }
                $("#fillname2").val("  Tên quận/huyện");
                $("#fillname3").val("  Tên phường/xã");
                $("#fillname").val(' ' + $(this).find("td").eq(1).html() + ' (' + $(this).find("td").eq(0).html() + ')');
                var id = $(this).find("td").eq(0).html();

                $(".tableFixHead").css("display", "none");

                pickedup = $(this);

                var URL = 'https://cors-anywhere.herokuapp.com/https://thongtindoanhnghiep.co/api/city/' + id + '/district';
                k = 0;
                $('#ketqua2').html("");

                $.ajax({
                    headers: {
                        'Access-Control-Allow-Origin': '*'
                    },
                    type: 'GET',
                    crossDomain: true,
                    dataType: 'json',
                    url: URL,
                    success: function (response) {
                        console.log('success');
                        if (response.length > 0) {
                            k = k + 1;
                        }

                        if (response.length > 0) {
                            for (var i = 0; i < response.length; i++) {

                                var parent = '<tr><td>' + response[i].ID + '</td><td>' + response[i].Title + '</td></tr>';

                                $('#ketqua2').append(parent);

                                $(document).ready(function () {
                                    $("#sourcetable2 tbody tr").on("click", function (event) {

                                        // get back to where it was before if it was selected :
                                        if (pickedup != null) {
                                        }
                                        $("#fillname3").val("  Tên phường/xã");
                                        $("#fillname2").val(' ' + $(this).find("td").eq(1).html() + ' (' + $(this).find("td").eq(0).html() + ')');
                                        var id2 = $(this).find("td").eq(0).html();
                                        $(".tableFixHead2").css("display", "none");
                                        pickedup = $(this);
                                        var URL = 'https://cors-anywhere.herokuapp.com/https://thongtindoanhnghiep.co/api/district/' + id2 + '/ward'

                                        k = 0;
                                        $('#ketqua3').html("");
                                        $.ajax({
                                            headers: {
                                                'Access-Control-Allow-Origin': '*'
                                            },
                                            type: 'GET',
                                            crossDomain: true,
                                            dataType: 'json',
                                            url: URL,
                                            success: function (response) {
                                                console.log('success');
                                                if (response.length > 0) {
                                                    k = k + 1;
                                                }

                                                if (response.length > 0) {

                                                    for (var i = 0; i < response.length; i++) {

                                                        var parent = '<tr><td>' + response[i].ID + '</td><td>' + response[i].Title + '</td></tr>';

                                                        $('#ketqua3').append(parent);

                                                        $(document).ready(function () {
                                                            $("#sourcetable3 tbody tr").on("click", function (event) {

                                                                // get back to where it was before if it was selected :
                                                                if (pickedup != null) {
                                                                }

                                                                $("#fillname3").val(' ' + $(this).find("td").eq(1).html() + ' (' + $(this).find("td").eq(0).html() + ')');
                                                                var id2 = $(this).find("td").eq(0).html();
                                                                $(".tableFixHead3").css("display", "none");
                                                                pickedup = $(this);

                                                            });
                                                        });
                                                    }
                                                }

                                            }
                                        });
                                    });
                                });
                            }
                        }

                    }
                });
            });
        });

    }
    function myFunction2() {
        document.getElementById("myDropdown2").classList.toggle("show");
        $(".tableFixHead2").css("display", "block");
    }
    function myFunction3() {
        document.getElementById("myDropdown3").classList.toggle("show");
        $(".tableFixHead3").css("display", "block");
    }
    window.onload = function () {
        renderHTML();
    }

</script>