﻿
@{
    ViewData["Title"] = "Thông tin bệnh nhân";
}
<h2>@ViewData["Title"]</h2>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Tên bệnh nhân</label>
        <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp">
        <small id="nameHelp" class="form-text text-muted">Điền đầy đủ họ và tên.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Số chứng minh nhân dân</label>
        <input type="text" class="form-control" id="exampleInputCmnd1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Ngày sinh</label>
        <input type="datetime-local" class="form-control" id="exampleDate1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Số điện thoại</label>
        <input type="text" class="form-control" id="exampleSdt1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Giới tính  </label>
        <select class="custom-select-sm">
            <optgroup label="Chọn giới tính">
                <option value="volvo">Nam</option>
                <option value="saab">Nữ</option>
                <option value="saab">Khác</option>
            </optgroup>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Địa chỉ</label>
        <input type="text" class="form-control" id="exampleAddress1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Tình trạng hôn nhân</label>
        <input type="text" class="form-control" id="exampleHonnhan1">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Người liên hệ</label>
        <input type="text" class="form-control" id="exampleNguoilienhe1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Điện thoại người liên hệ</label>
        <input type="text" class="form-control" id="exampleSdtlienhe1">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Lưu thông tin</label>
    </div>
    <button type="submit" class="btn btn-primary">Đăng kí</button>
</form>