﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HIS</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <style>
        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .nav-link {
            color: #fff;
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }

        footer {
            position: fixed;
            height: 100px;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="header-nav" style="padding:0px 0px 0px 15px !important">
            <a class="navbar-brand"asp-controller="Home" asp-action="Index">
                <img src="~/images/logo-BenhvienThongNhat.png" height="30"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav" style="font: 12px Helvetica, Arial, Tahoma, 'Droid Sans', 'Segoe UI', Geneva, sans-serif;">
                <ul class="navbar-nav ">

                    <li class="nav-item active nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Quản lý khám chữa bệnh</a>
                        <ul class="dropdown-menu" style="font: 12px Helvetica, Arial, Tahoma, 'Droid Sans', 'Segoe UI', Geneva, sans-serif;">
                            <li><a id="patitem1" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ReceivePatient"> Tiếp nhận khám bệnh </a></li>
                            <li><a id="patitem2" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="OutPatientExam"> Khám bệnh ngoại trú </a></li>
                            <li><a id="patitem3" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SearchPatient"> Thông tin bệnh nhân </a></li>
                        </ul>
                    </li>
                
        
                </ul>
                
            </div>
        </nav>
    </header>

    <div class=" body-content" style="margin-top: 50px">
        @RenderBody()

        <hr />

       @*<footer class="footer">

            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>*@
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script>
        function activeMenu() {
            var curr_url = window.location.pathname;
            switch (curr_url) {
                case "/Home/ReceivePatient":
                    document.getElementById("patitem1").style.background = "#CCC";
                    break;
                case "/Home/OutPatientExam":
                    document.getElementById("patitem2").style.background = "#CCC";
                    break;
                case "/Home/SearchPatient":
                    document.getElementById("patitem3").style.background = "#CCC";
                    break;
                case "/Home/UpdatePatient":
                    document.getElementById("patitem4").style.background = "#CCC";
                    break;
                case "/Home/PatientHistory":
                    document.getElementById("patitem5").style.background = "#CCC";
                    break;
                case "/Home/OutPatientExam":
                    document.getElementById("patitem6").style.background = "#CCC";
                    break;
            }
        }
        activeMenu();
    </script>
</body>
</html>
