﻿
        /*#ketqua, #ketqua2, #ketqua3 {
            margin: 0 4vh 0 4vh;
        }

        .selectedOption {
            height: 34px;
            display: none;
        }

        .form-control {
            border-radius: 0px;
            height: 30px;
            padding: 0px;
        }

        .combobox {
            border-radius: 0px;
        }

        .btn {
            height: 4.7vh;
            width: 28.7vh;
            border-radius: 1vh;
            color: blue;
            border-color: blue;
        }

        .btn1 {
            height: 4.7vh;
            width: 28vh;
            border-radius: 1vh;*/
            /* border-color:blue;*/
        /*}*/

        /* Style Combobox*/
        /*.dropbtn {
            font-size: 16px;
            border: 1px solid #CCC;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

            .dropdown-content li {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown li:hover {
            background-color: #ddd;
            cursor: pointer
        }

        .show {
            display: block;
        }

        .tableFixHead, .tableFixHead2, .tableFixHead3 {
            overflow-y: auto;
            height: 50vh;
        }

            .tableFixHead thead th {
                position: sticky;
                top: 0;
            }

            .tableFixHead2 thead th {
                position: sticky;
                top: 0;
            }

            .tableFixHead3 thead th {
                position: sticky;
                top: 0;
            }*/
        /* Just common table stuff. Really. */
        /*table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px 16px;
        }

        th {
            background: #eee;
        }

        table.table-hover tbody tr:hover {
            background: rgba(59, 153, 252, .7)
        }

        #fillname, #fillname2, #fillname3 {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            background-repeat: no-repeat, repeat;*/
            /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
            /*background-position: right .7em top 50%, 0 0;*/
            /* icon size, then gradient */
            /*background-size: .65em auto, 100%;
        }*/
        /*dấu băt buộc*/

        /*.form-group.required .control-label:after {
            content: "*";
            color: red;
        }
        label {*/
            /*font-size: 12px !important;*/
            /*font: 12px Helvetica, Arial, Tahoma, 'Droid Sans', 'Segoe UI', Geneva, sans-serif;
        }
        button {
            font-size: 13px !important;

        }
        h6 {
            font-size: 12px !important;
        }
        .row{
            height : 60px;
        }*/
    